@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 5%;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto Mono', monospace;
}